<div class="container mt-4">
  <h2>Kosarad tartalma</h2>
  
  <table class="table table-hover mt-3" *ngIf="cartItems.length > 0;">
    <thead class="table-light">
      <tr>
        <th>Termék neve</th>
        <th>Ár</th>
        <th>Művelet</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartItems; let i = index">
        <td>{{ item.name }}</td>
        <td>{{ item.price | currency:'HUF ': 'symbol':'1.0-0' }} </td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="removeItem(i)">Termék törlése a kosárból</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="cartItems.length === 0" class="text-center mt-5">
  <h3>A kosár tartalma üres!</h3>
  <a routerLink="/list" class="btn btn-warning">Vissza a termékekhez</a>
</div>